.container {
  padding-top: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, 350px);
  justify-content: center;
}

.mat-card {
  cursor: pointer;
}

.spinner {
  position: absolute;
  left: 40%;
  top: 50%;
}

.skeleton-image {
  background-image: url('https://imgs.developpaper.com/imgs/2020519143311255.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  height: 290px;
  background-size: cover;
}
